body {
    background-color: midnightblue;
}
h1{
    padding-top: 10px;
    text-align: center;
    font-size: medium;
}
nav{
    background-color: whitesmoke;
    margin-inline: 50px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: helvetica;
    padding: 5px;

}
nav ul{
    padding: 5px;
    
}